@model EntityLayer.Concrete.Admin
@{
	ViewBag.Title = "AddAdmin";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Yeni Admin Tanımlama Sayfası</h1>
<br />

@using (Html.BeginForm("AddAdmin", "Auth", FormMethod.Post))
{
<div class="form-group">
	@Html.Label("Kullanıcı Adı")
	@Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "text-danger" })
	<br />
	@Html.Label("Şifreyi Giriniz")
	@Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.AdminPassword, "", new { @class = "text-danger" })
	<br />
	@Html.Label("Rolü Seçiniz")
	@Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
	@Html.ValidationMessageFor(x => x.AdminRole, "", new { @class = "text-danger" })
	<br />
	<button class="btn btn-info">Ekle</button>
</div>
}

